html,
body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #154033;
    padding: 0;
    margin: 0;
}

.rect {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 740px;
    margin: 0;
    z-index: 1;
}

.man {
    position: absolute;
    margin-top: 230px;

    z-index: 1;
    right: 0;
    left: 1100px;
    width: 250px;
    height: auto;

}

label {
    color: white;
}

.tube {
    margin-left: 1100px;

}

a {
    text-decoration: none;
    color: white;

}

p {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #FDDA0D;
    background-color: #154033;
}


.btn {
    background-color: #FDDA0D;
    color: #154033;
    width: 300px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    margin-top: 10px;
    text-align: center;
}



@media (max-width: 600px) {
    .rect {
        margin-left: 10px;
        width: 200px;
    }

    .tube {
        margin-left: 190px;
        width: 50px;
    }

    .man {
        left: 200px;
        width: 100px;
        margin-top: 300px;
    }

    .avatar {
        width: 100px;
    }

    .row {
        flex-direction: column-reverse;
    }

    .form-container {
        order: -1;
    }
}